@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    
    height: 100vh;
    font-family: 'Poppins',arial;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding: 4em 2em;
    text-align: center;
}

//Navbar
.nav-container {
    background-color:#6700EE;

    header {
        display: flex;
        justify-content: space-between;
        padding: 2em;

        .logo {
            color : #6EE2FF;
            font-weight: bold;
        }

        ul {
            display: flex;

            a {
                padding: 0 1em;
                color: white;
            }
        }
    }
}

.social-header, .hero-design {
    display: none;
}

//Hero Section 
.hero {
    background-color: #390084;
    color: white;
    display: grid;
    text-align: center;
    padding: 3em;

    .meet {
        width: 200px;
        margin: 1em auto;
        font-weight: bold;

        a {
            color: #FF64CB;
        }
        
        span {
            margin-top: 1 em;
            margin-right: .5em;
        }
    }

    .scroll {
        width: 30px;
        height: auto;
        margin-top: 1em;
    }
}

// Featured Project
.featured {
    position: relative;
}

.featured::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #FF64CB;
    opacity: 0.23;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #390084;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    display: block;
    margin: .3em auto;
}

.featured-desc {
    color: #3B3B3B;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}

//Skill section
.skills {
    background-color :#FF64CB;

    .skills-container {
        ul {
            li {
                background: white;
                padding: 2em;
                border-radius: 1em;
                margin-bottom: 1em;
            }
        }

        .icon-container {
            height: 100px;
            margin: 0 auto;
            display: grid;
            place-items: center;

            img {
                height: 100%;
                width: auto;
            }
        }

        .skill-title {
            font-weight: bold;
            margin: 1.5em auto 0.5em;
        }

        .skill-desc {
            margin-bottom: 1.5em;
        }
    }
}

//Portfolio
.portfolio {
    background: #f7f7f7;
    padding-top: 2em;

    .portfolio-container {
        margin-bottom: 1em;

        a {
            img {
                border-radius: 1em;
                margin-bottom: 2em;
            }
        }
    }
}

// Responsive Queries section
@media only screen and (min-width: 800px) {
    .featured, .portfolio {
        text-align: left;
    }

    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;  
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-bottom: -6em;
        
        .skills-container {
            ul {
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-gap: 1em;
            }

            .skill-title {
                margin-top: 3em;
            }
        }
    }

    .portfolio {
        padding-top: 4em;

        .portfolio-container {
            margin-left: 2em;
        }
    }
}

@media only screen and (min-width: 1050px) {
    
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #6700EE;
            padding: 2em 4em;
            align-items: center;
        }

        .social-header {
            padding: 2em 4em 2em 0;
            display: block;

            ul {
                display: flex;
                justify-content: space-between;
                width: 10em;
                float: right;

                i {
                    font-size: 2em;
                    width: 20px;
                }
            }
        }
    }

    .hero {
        height: 90vh;
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #390084;
            padding: 6em 8em 6em 4em;
            text-align: left;
            
            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }

            .meet {
                margin: unset;
                margin: 3em 0;
            }
        }

        .hero-design {
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
            height: 80%;
        }
    }

    .featured::before {
        width: 190px;
        height: 190px;
    }

    .portfolio {
        img {
            float: right;
            max-width: 500px;
        }
    }
}

@media only screen and (min-width: 1250px) {
    .nav-container {
        header {
            padding-left: 10em;
        }

        .social-header {
            padding: 2em 10em 2em 0;
        }
    }

    section {
        padding: 10em 10em 4em 10em;
    }

    .hero {
        .content {
           padding: 6em 8em 6em 10em;
           
           .meet {
               p {
                   font-size: 1.3em;
               }
           }
        }
    }
}

@media only screen and (min-width: 1550px) {
    .nav-container {
        header {
            padding-left: 20em;
        }

        .social-header {
            padding: 2em 20em 2em 0;
        }
    }

    section {
        padding: 6em 20em 4em 20em;
    }

    .hero {
        .content {
            padding: 13em 20em 6em 20em;

            h1 {
                font-size: 4em;
                line-height: 1.3em;
            }
        }
    }
}

//Call to Action Animation
.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(583px, 2190px);
        z-index: 5;
    }

    to {
        transform: translate(583px, 2310px);
    }
}

//About me page
.image-wrapper {
    padding: 0;

    img {
        clip-path: circle(40%);
        width: 300px;
        height: auto;
    }
}

.about-me {
    text-align: justify;
    padding-top: 2em;
    padding-left: 5%;
    padding-right: 5%;
    span {
        background-color: yellow;
    }
}

@media only screen and (min-width: 1050px) {
    .about-section {
        padding-top: 5em;
        display: grid;
        grid-template-columns: 40% 1fr;
    }

    .image-wrapper {
        img {
            width: 350px;
        }
    }

    .about-me {
        padding: 4em 6em 0 3em;
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1550px) {
    .about-me {
        padding-top: 2em;
        padding-right: 14em;
        font-size: 1.25em;
    }
}