@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Poppins',arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.nav-container {
  background-color: #6700EE;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.nav-container header .logo {
  color: #6EE2FF;
  font-weight: bold;
}

.nav-container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header ul a {
  padding: 0 1em;
  color: white;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background-color: #390084;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 3em;
}

.hero .meet {
  width: 200px;
  margin: 1em auto;
  font-weight: bold;
}

.hero .meet a {
  color: #FF64CB;
}

.hero .meet span {
  margin-top: 1 em;
  margin-right: .5em;
}

.hero .scroll {
  width: 30px;
  height: auto;
  margin-top: 1em;
}

.featured {
  position: relative;
}

.featured::before {
  content: '';
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #FF64CB;
  opacity: 0.23;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #390084;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  display: block;
  margin: .3em auto;
}

.featured-desc {
  color: #3B3B3B;
  margin-bottom: 3em;
  font-size: .85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: #FF64CB;
}

.skills .skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills .skills-container .icon-container {
  height: 100px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.skills .skills-container .icon-container img {
  height: 100%;
  width: auto;
}

.skills .skills-container .skill-title {
  font-weight: bold;
  margin: 1.5em auto 0.5em;
}

.skills .skills-container .skill-desc {
  margin-bottom: 1.5em;
}

.portfolio {
  background: #f7f7f7;
  padding-top: 2em;
}

.portfolio .portfolio-container {
  margin-bottom: 1em;
}

.portfolio .portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-bottom: -6em;
  }
  .skills .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .skills .skills-container .skill-title {
    margin-top: 3em;
  }
  .portfolio {
    padding-top: 4em;
  }
  .portfolio .portfolio-container {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #6700EE;
    padding: 2em 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container .social-header {
    padding: 2em 4em 2em 0;
    display: block;
  }
  .nav-container .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 10em;
    float: right;
  }
  .nav-container .social-header ul i {
    font-size: 2em;
    width: 20px;
  }
  .hero {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #390084;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .content .meet {
    margin: unset;
    margin: 3em 0;
  }
  .hero .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
    height: 80%;
  }
  .featured::before {
    width: 190px;
    height: 190px;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container header {
    padding-left: 10em;
  }
  .nav-container .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
  .hero .content .meet p {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1550px) {
  .nav-container header {
    padding-left: 20em;
  }
  .nav-container .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 13em 20em 6em 20em;
  }
  .hero .content h1 {
    font-size: 4em;
    line-height: 1.3em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(583px, 2190px);
            transform: translate(583px, 2190px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(583px, 2310px);
            transform: translate(583px, 2310px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(583px, 2190px);
            transform: translate(583px, 2190px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(583px, 2310px);
            transform: translate(583px, 2310px);
  }
}

.image-wrapper {
  padding: 0;
}

.image-wrapper img {
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  width: 300px;
  height: auto;
}

.about-me {
  text-align: justify;
  padding-top: 2em;
  padding-left: 5%;
  padding-right: 5%;
}

.about-me span {
  background-color: yellow;
}

@media only screen and (min-width: 1050px) {
  .about-section {
    padding-top: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
  }
  .image-wrapper img {
    width: 350px;
  }
  .about-me {
    padding: 4em 6em 0 3em;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1550px) {
  .about-me {
    padding-top: 2em;
    padding-right: 14em;
    font-size: 1.25em;
  }
}
/*# sourceMappingURL=style.css.map */